* {
  box-sizing: border-box;
}
body {
  background-color: #a31bec;
  font-family: "Poppins", sans-serif;
}

/*Beginning of John's website*/
header {
  background-color: #120431;
  color: white;
  position: fixed;
  width: 100%;
  font-weight: bold;
}
nav {
  display: flex;
  justify-content: center;
}
nav > div {
  padding: 1% 2%;
}
nav a {
  color: white;
  text-decoration: none;
}
nav a:hover {
  color: rgb(6, 114, 247);
}
.john {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8%;
  font-weight: bold;
  padding-top: 85px;
}
.john > img {
  width: 97%;
}
.john > p {
  text-align: center;
}

/*All about John*/

#about {
  background-color: white;
  border: 12px solid #f779c0;
  margin: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.small-h2 {
  padding: 5%;
  text-align: center;
}
.big-h2 {
  display: none;
}
.john-computer {
  width: 80%;
}
.john-computer > img {
  width: 100%;
  padding: 0% 8%;
}
.about-me {
  padding: 10%;
}
.about-me > p {
  text-align: center;
}

/*John's Projects*/
#projects > div {
  justify-content: center;
}
#projects > div > h2 {
  color: white;
  text-align: center;
}

.project-freinds,
.project-family {
  background-color: white;
  border-radius: 20px;
  margin: 10%;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-freinds > img,
.project-family > img {
  width: 100%;
}
.project-freinds a,
.project-family a {
  text-decoration: none;
  border: 5px solid rgb(158, 226, 249);
  border-radius: 10px;
}
.project-freinds a:hover,
.project-family a:hover {
  background-color: rgb(158, 226, 249);
  color: white;
}
/* Contact Form*/
#contact {
  background-color: #393c6f;
  margin: 10% 0% 0% 0%;
  display: flex;
  justify-content: center;
  color: white;
  padding-bottom: 2%;
}
.form-info > div {
  width: 100%;
  padding: 5px;
}
.form-contact {
  color: white;
  text-align: center;
  padding: 4% 0%;
}
.name-sub-email {
  display: flex;
  flex-direction: column;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#message {
  height: 205px;
}
.form-submit {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  margin: 20px 0;
}
.form-submit > input {
  background-color: lightskyblue;
  padding: 12px 36px;
  border-radius: 4px;
  border: none;
}
.form-submit > input:hover {
  background-color: black;
  color: white;
}
.copyright {
  background-color: rgb(24, 24, 24);
  color: white;
  padding: 1%;
}
.copyright > p {
  padding-left: 8%;
}
@media screen and (min-width: 600px) {
  .john {
    padding-top: 100px;
  }
  .john > img {
    width: 390px;
  }
  #about {
    display: flex;
  }
  #about > div {
    text-align: left;
  }
  .form-info {
    display: flex;
    flex-direction: row;
  }
  .form {
    width: 100%;
  }
  .small-h2 {
    display: none;
  }
  .big-h2 {
    display: inline;
    text-align: center;
    padding: 8%;
  }
}
@media screen and (min-width: 768px) {
  #projects > div {
    display: flex;
    justify-content: center;
  }
}
